@using System.Collections.Generic;
@using BWHazel.Aka.Model;

@model IEnumerable<ShortUrl>

@{
    this.ViewData["Title"] = "Links";
}

<div class="section">
    <div class="container">
        <h1>Links</h1>

        <a asp-action="Create">Create Link</a>

        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ShortUrl link in this.Model)
                {
                    <tr>
                        <td><code>@link.Id</code></td>
                        <td><a asp-controller="Links" asp-action="Open" asp-route-linkId="@link.Id">@link.Title</a></td>
                        <td>
                            <a asp-action="Edit" asp-route-linkId="@link.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-linkId="@link.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>